
.full-width {
    width: 100%;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;    
}

.center-card {
    max-width: 400px;    
    width: 100%;
    padding: 20px;
    text-align: center;
}

.newUserStyle {
    margin-left: 40%;
    margin-top: 5%;
}